


+++
title = "NELIUM"
linkTitle = "NELIUM"

+++
<!-- Cuerpo de la página principal inicial en inglés  -->
{{< blocks/cover title="Welcome to NELIUM" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Client access <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/google/docsy-example">
		Staff access <i class="fab fa-earlybirds ml-2 "></i>
	</a>
	<p class="lead mt-5"><strong>Computo ergo sum</strong></p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}



{{% blocks/lead color="primary" %}}
Nelium is an organization specialized in providing an integrated IT service to the client based on technical competence, experience and integrity in our areas of competence. 

We convert knowledge and technology into tools that effectively and efficiently meet the needs of the entities we work for, helping them to achieve their objectives safely and reliably.

Our core activities include the following solutions and products:	
{{% /blocks/lead %}}




{{< blocks/section color="dark" >}}


{{% blocks/feature icon="fab fa-cloudversify" title="Development and maintenance of cloud native services" %}}
We have the know-how and the means to develop the hardware and / or software that allows you to implement the services in cloud native technologies that our clients demand, guaranteeing a reliable, safe and scalable deployment and operation. 

We have the ability to integrate vertically every level of the process that your project requires.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-docker" title="Development of hardware and software in the field of IoT (Internet Of Things)" url="https://github.com/google/docsy-example" %}}
We deliver, according to the requirements of our customers, equipment and software to implement IoT solutions.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-lightbulb" title="Consulting services in cloud native and IoT"%}}
With an integrated knowledge of the sector and the underlying technologies, we help any company that wants to develop hardware or software in the field of IoT and Cloud Native services. You can count on us to advise you at any level of the process, from the design of hardware and its manufacture to different volumes, through the remaining intermediate stages of software development, to its deployment and maintenance.
{{% /blocks/feature %}}


{{< /blocks/section >}}

<! –– Segunda Sección ––> 

{{< blocks/section >}}
<div class="col">
<h1 class="text-center">Complementary our core business, we also provide services of:</h1>
</div>

{{< /blocks/section >}}



{{< blocks/section >}}

{{% blocks/feature icon="fab fa-app-store-ios" title="Support and maintenance of pre-existing Information Systems" %}}
We assume the support and maintenance of your current IT environment with a trained technical team.
Our experience will also allow you to have the possibility of migrating towards new technologies that improve the overall quality of the IT services you need, increasing the levels of productivity in your organization.
Our activity in this field includes the detection of areas of improvement through hardware and software developments, with feasible proposals, capable of increasing the effectiveness, efficiency and safety of your operations.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-chalkboard-teacher" title="Specialized training" url="https://github.com/google/docsy-example" %}}
Training focused on the Information Systems we implement, from basic user level to that of the most advanced operators. We are your best option if you need high quality training, with immediate improvements in productivity in the IT field, and especially in Cloud Native and IoT services.
Thanks to the training we provide, your work team will be able to maximise the potential of the tools available with their software and computer equipment.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="And more..." url="https://github.com/google/docsy-example" %}}
For other additional services, please contact us.
{{% /blocks/feature %}}

{{< /blocks/section >}}


